* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

.links_de_midias {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
    background-color: #1c1c1c;
}

.links_de_midias i {
    font-size: 20px;
    padding: 0 5px;
    color: #fff;
}



.cabecalho_navegacao {
    position: relative;
    display: flex;
    width: 100%;
    height: 30vh;
    border-bottom: 2px solid #808080;
}

#logo {
    max-width: 100%;
    width: 300px;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

.cabecalho_navegacao ul {
    display: flex;
}

.cabecalho_navegacao li {
    color: inherit;
}

.cabecalho_navegacao li a {
    margin-right: 25px;
    margin-left: 40px;
    text-transform: uppercase;
    color: #808080;
    font-size: 20px;
    font-weight: bold;
    transition: .2s;
}

.cabecalho_navegacao li a:hover {
    cursor: pointer;
    color: #62adf3;
}


/*Fim do cabeçalho-----------------------------------------------*/


/* Começo do Body -----------------------------------------------*/
.container-main-apresentacao {
    position: relative;
    background-image: url("../img/architecture-2768284_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
    margin-top: 50px;
}

.container-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #fff;
    border-radius: 5px;
}

.container-search input {
    padding: 0 10px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid #e0e0e0;
    box-shadow: 5px 5px 10px 1px #dadada;
}

.container-search button {
    width: 100px;
    height: 40px;
    background-color: #1c1c1c;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\*/
.imagens_de_trabalho {
    width: 100%;
}

.container-img {
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 10px;
    padding: 20px;
}

.container-child-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    box-shadow: 1px 10px 10px #e0e0e0;
    cursor: pointer;
}

.container-child-img img {
    width: 100%;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.informacao {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
}

.informacao p {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.preco {
    font-weight: bold;
    color: #808080;
}

/*Portifolio*/
.text-apresen {
    font-size: 50px;
    color: #808080;
    text-align: center;
}

.texto-param {
    text-align: start;
    color: #1c1c1c;
    padding-bottom: 50px;
}

.img-portifolio {
    width: 100%;
}

.container-imgs {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.container-imgs div {
    width: 100%;
    height: 517px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 1px #cfcfcf;

}

.container-imgs div ul li {
    padding: 5px 0;
    font-weight: bold;
}

.container-imgs p {
    font-weight: bold;
    padding: 10px 0;
    font-weight: bold;
    color: #808080;
}

.img-carrosuel {
    width: 100%;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

/*/\/\/\/\/\/\/\  - ICONS - /\/\//\/\/\/\/\*/
.container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
}

.container-icon div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    color: #4d4d4d;
}

.container-icon div img {
    width: 150px;
}

/*\/\/\/\/\/\/\fim icons\/\/\/\/\/\/\*/
.localizacao_mapa {
    border-top: 2px solid #62adf3;
    margin: 50px;
}

.localizacao_mapa_titulo {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: #808080;
}

.localizacao_mapa_ {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
}



/*Registro*/

.container-form {
    margin: 50px;
}

.cad-input {
    margin: 0 auto;
    max-width: 50%;
    height: 50vh;
    border: 3px solid #d8d8d8;
}

.tnt-pagina {
    text-align: center;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.cad-input input {
    display: block;
    margin: 50px auto;
    width: 500px;
    height: 7vh;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
}

.cad-input button {
    display: block;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
    text-transform: uppercase;
    background: #62adf3;
    color: #fff;
    width: 350px;
    height: 50px;
    transition: .2s;
    cursor: pointer;
}

.cad-input button:hover {
    background-color: #2a8be6;
}

/*Fim da pagina registro*/

.container-footer {
    background-color: #62adf3;
    width: 100%;
    height: 10vh;
}


/*---------------cabeçalho mobile-------------*/

@media (max-width:768px) {
    #logo {
        display: none;
    }

    #btn_hidden {
        position: absolute;
        top: 5%;
        left: 0;
        padding: 10px;
        background-color: transparent;
        font-size: 30px;
        border: none;
        cursor: pointer;
        transition: 1s;
    }

    #btn_hidden:hover {
        color: #fff;
    }

    #btn_mobile {
        position: absolute;
        top: 5%;
        background-color: transparent;
        font-size: 30px;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    .imagens_de_trabalho {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    header {
        height: 60px;
    }

    .cabecalho_navegacao {
        position: absolute;
        display: flex;
        height: 100vh;
        justify-content: center;
        background-color: #62adf3;
        transform: translateY(-1000px);
        opacity: 0;
        z-index: 1;
    }

    .cabecalho_navegacao ul {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .cabecalho_navegacao li a {
        color: #1c1c1c;
    }

    .cabecalho_navegacao li a:hover {
        color: #747171;
    }

    .cabecalho_navegacao.ativaMenu {
        animation: showMenu .5s forwards;
    }

    @keyframes showMenu {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@media (min-width:768px) {
    .cabecalho_navegacao_mobile {
        display: none;
    }

    #btn_mobile {
        display: none;
    }

    #btn_hidden {
        display: none;
    }
}