*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    
}


header{
    width: 100%;
    height:200px;
    border-bottom: 2px solid #62adf3;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

}

.links_de_midias{
    display: flex;
    width: 100%;
    height:30px;
    background-color: #1c1c1c;
    justify-content:flex-end;
}
.links_de_midias i{
    padding:10px;
    font-size:20px;
    color:#fff;
    
}
.cabecalho_imagem{
    background-size: cover;
    margin-left: 20px;
}
.cabecalho_navegacao ul{
    display: flex;
    
}
.cabecalho_navegacao li a{
    display:block;
    color:inherit;
    margin-right: 25px;
    margin-left:40px;
    text-transform: uppercase;    
    color:rgb(128, 128, 128);   
    font-size: 20px;

}

.cabecalho_navegacao li a:hover{cursor: pointer; color:#62adf3;transition: 1s;}

/*Fim do cabeçalho-----------------------------------------------*/

/* Começo do Body -----------------------------------------------*/

.imagem_comeco{
    width: 100%;
    opacity: 0.8;

}
.imagem_comeco__{
    opacity: 0.8;
    
}

.titulo_principal{
    display: flex;
    justify-content: center;
    
}

.titulo_principal h1{
    font-size:45px;
    text-transform: uppercase;
    color:#1c1c1c;
}
.imagens_de_trabalho ul{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.imagens_de_trabalho ul li{
    margin-top: 150px;
    margin-bottom:75px;
    cursor: pointer;
}
.imagens_de_trabalho img{
    width: 100%;
    height: auto;
}
.localizacao_mapa{
    border-top:2px solid #62adf3 ;
    margin-bottom:2px solid #62adf3;
    margin-left:50px;
    margin-right: 50px;
}

.localizacao_mapa_titulo{
    text-align: center;
    font-size:25px;
    text-transform: uppercase;
    color:rgb(128, 128, 128);
}

.localizacao_mapa_{
    position: relative;
    width: 100%;
    top:70px;
}
.texto__{
    display: flex;
    text-align: center;
    margin-top:75px;
    width: 100%;
    color:#1c1c1c;
    
}


/*Fim do Body*/

/*Portifolio*/

.text-apresen{
    font-size: 50px;
    color:rgb(128, 128, 128);
    text-align: center;
}
.img-portifolio{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:100px;
    max-width:100%;
}

.img-portifolio a img{
    padding: 10px;
    width:100%;
}
.texto-indentificao{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top:100px; 
    border-bottom: 2px solid #62adf3;
    margin-left: 50px;
    margin-right: 50px;
}

.texto-param{
    text-align: center;
    color:#1c1c1c;
    padding-bottom:50px;
   
    
}
.img-aprese{
    margin-top:50px;
}
.img-aprese img{
    margin-top:150px;
    margin-left:725px;
}
.texto-expli{
    max-width:400px;
    margin-top:-450px;
    margin-left: 50px;
}

/*Fim do portifolio*/

.rodape{
    position: relative;
    width:100%;
    height:300px;
    top:350px;
    background-color:#62adf3;
    
}

.titulo_rodape_links{
    color:#fff;
    margin:10px;
    text-transform: uppercase;
}

.rodape ul a{
     border-bottom: 1px solid #1c1c1c;
     margin-right: 95%;
     
     
}

.rodape a{  
    display:block;
    padding:10px;
    margin:10px;
    text-transform: uppercase;
    color: inherit;
}
.rodape_sobre_nos{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    top:-197px;
}

.rodape a:hover{
    cursor:pointer; 
    color:rgb(128, 128, 128);
    transition: 1s;
}

.rodape_linha_dois_direitos{
    position: relative; 
    text-align: center; 
    cursor: pointer; 
    top:60px;
}

/*---------------cabeçalho mobile-------------*/

.cabecalho_mobile_ i{
    position: relative;
    top:-80px;
    font-size:30px;
    cursor: pointer;
}
.cabecalho_mobile_ ul{
    text-align: right;
    position:absolute;
    opacity: 0;
    transition: 1s;
    display: block;
    width:100%;
    left:0px;
    top:80px;
    
}

.show-menu{
    opacity: 1 !important;
}

.cabecalho_mobile_ ul li a{
    display: block;
    padding: 19px;
    color:rgb(128, 128, 128);
    text-decoration: none;
    font-size: uppercase;
}

.cabecalho_mobile_ :hover{
    color:#62adf3;
    transition: 1s;
}







@media (max-width:768px){
    .imagens_de_trabalho ul{
        text-align: center;
    }
    
    .titulo_principal h1{
        text-align: center;
    }
     .cabecalho_navegacao
    {
        display: none;
    }

}
@media (min-width:768px){
    .cabecalho_mobile_
   {
       display: none;
   }
  

}
   
