* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

.links_de_midias {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #1c1c1c;
    justify-content: flex-end;
}

.links_de_midias i {
    padding: 10px;
    font-size: 20px;
    color: #fff;
}

.cabecalho_navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30vh;
    border-bottom: 2px solid #62adf3;
    padding: 10px;
}

.cabecalho_navegacao ul {
    display: flex;
}

.cabecalho_navegacao li {
    color: inherit;
}

.cabecalho_navegacao li a {
    margin-right: 25px;
    margin-left: 40px;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
    font-size: 20px;
}

.cabecalho_navegacao li a:hover {
    cursor: pointer;
    color: #62adf3;
    transition: 1s;
}


/*Fim do cabeçalho-----------------------------------------------*/


/* Começo do Body -----------------------------------------------*/

.imagem_comeco {
    max-width: 100%;
    opacity: 0.8;
}

.titulo_principal {
    display: flex;
    justify-content: center;
}

.titulo_principal h1 {
    font-size: 45px;
    text-transform: uppercase;
    color: #1c1c1c;
}

.imagens_de_trabalho {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.imagens_de_trabalho ul {
    display: flex;
    gap: 3rem;
}

.imagens_de_trabalho ul li {
    margin-top: 100px;
    margin-bottom: 75px;
    cursor: pointer;
}

.imagens_de_trabalho img {
    width: 100%;
}

.localizacao_mapa {
    border-top: 2px solid #62adf3;
    margin: 50px;
}

.localizacao_mapa_titulo {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.localizacao_mapa_ {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    padding: 10px;
}

.texto__ {
    display: flex;
    text-align: center;
    margin-top: 75px;
    width: 100%;
    color: #1c1c1c;
}


/*Fim do Body*/


/*Portifolio*/

.text-apresen {
    font-size: 50px;
    color: rgb(128, 128, 128);
    text-align: center;
}

.img-portifolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    max-width: 100%;
}

.img-portifolio a img {
    padding: 10px;
    width: 100%;
}

.texto-indentificao {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    border-bottom: 2px solid #62adf3;
    margin-left: 50px;
    margin-right: 50px;
}

.texto-param {
    text-align: center;
    color: #1c1c1c;
    padding-bottom: 50px;
}


/*-----------------*/

.img-aprese {
    display: flex;
    margin-top: 50px;
    padding: 50px;
}

.img-aprese ul {
    display: flex;
}

.img-aprese p img {
    float: right;
}


/*Fim do portifolio*/


/*Registro*/

.cad-input {
    width: 100%;
    height: 50vh;
    border: 1px solid #62adf3;
    border-radius: 5px;
    background: #62adf3;
}

.tnt-pagina {
    text-align: center;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.cad-input input {
    display: block;
    margin: 50px auto;
    width: 400px;
    height: 5vh;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px;
}

.cad-input button {
    display: block;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
    text-transform: uppercase;
    background: #1c1c1c;
    color: #fff;
    width: 350px;
    height: 5vh;
}


/*Fim da pagina registro*/

.rodape {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #62adf3;
    margin-top: 100px;
}

.titulo_rodape_links {
    color: #fff;
    margin: 10px;
    text-transform: uppercase;
}

.rodape a {
    display: block;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
}

.rodape a:hover {
    color: rgb(128, 128, 128);
    transition: 1s;
}

.rodape_linha_dois_direitos {
    text-align: center;
}


/*---------------cabeçalho mobile-------------*/

@media (max-width:768px) {
    #logo {
        display: none;
    }
    #btn_hidden {
        position: absolute;
        top: 5%;
        left: 0;
        padding: 10px;
        background-color: transparent;
        font-size: 30px;
        border: none;
        cursor: pointer;
        transition: 1s;
    }
    #btn_hidden:hover {
        color: #fff;
    }
    #btn_mobile {
        position: absolute;
        top: 5%;
        background-color: transparent;
        font-size: 30px;
        border: none;
        cursor: pointer;
        padding: 10px;
    }
    .imagens_de_trabalho {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }
    .imagens_de_trabalho ul {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;
    }
    header {
        height: 60px;
    }
    .cabecalho_navegacao {
        position: absolute;
        display: flex;
        height: 100vh;
        justify-content: center;
        background-color: #62adf3;
        transform: translateY(-1000px);
        opacity: 0;
        z-index: 1;
    }
    .cabecalho_navegacao ul {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .cabecalho_navegacao li a {
        color: #1c1c1c;
    }
    .cabecalho_navegacao li a:hover {
        color: #747171;
    }
    .cabecalho_navegacao.ativaMenu {
        animation: showMenu .5s forwards;
    }
    @keyframes showMenu {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@media (min-width:768px) {
    .cabecalho_navegacao_mobile {
        display: none;
    }
    #btn_mobile {
        display: none;
    }
    #btn_hidden {
        display: none;
    }
}